html,body{
    background-image: url('../img/header_background.png');
    background-size: 80% 40%;
    background-position-x: 40%;
    background-repeat: no-repeat;
    height: 100%;
    background-color: rgb(56,33,170);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box {
    width: 10%;
    padding: -900px;
    background:transparent;
    text-align: center;
}

.form-title {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 50%;
    text-align: center;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    display: block;
    margin: 5% auto;
    text-align: center;
    border: 5px solid #0e0e11;
    height: 10%;
    width: 200px;
    padding: 10% 30%;
    outline: none;
    color: rgb(5, 5, 5);
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus, .form-box input[type="sumbit"]:focus {
    width: 500px;
    border-color: #030303;
}

.form-box button[type="submit"] {
    border: 0;
    background: #5352ed;
    display: block;
    margin: 20% auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 5% 20%;
    outline: none;
    color: rgb(3, 3, 3);
    border-radius: 10%;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}